.checkout-page{
margin:auto;
padding:var(--space-7);
background:var(--bg-light);
}

/* PAGE TITLE */



/* LAYOUT */

.checkout-container{
display:grid;
grid-template-columns:2fr 1fr;
gap:var(--space-6);
}


/* ADDRESS */

.checkout-card{
background:var(--white);
padding:var(--space-5);
border-radius:var(--radius-md);
box-shadow:var(--shadow-sm);
margin-bottom:var(--space-4);
}

.checkout-address-header{
display:flex;
justify-content:space-between;
margin-bottom:8px;
}

.home-tag{
background:#eee;
padding:2px 6px;
font-size:12px;
margin-left:6px;
border-radius:4px;
}


/* PRODUCT */

.checkout-product-card{
display:flex;
gap:20px;
background:var(--white);
padding:var(--space-5);
border-radius:var(--radius-md);
box-shadow:var(--shadow-sm);
margin-bottom:var(--space-4);
}

.checkout-product-card img{
width:90px;
object-fit:contain;
}

.checkout-product-info h3{
font-size:15px;
margin-bottom:4px;
}

.rating{
font-size:13px;
color:var(--primary);
}

.price-box{
display:flex;
gap:8px;
margin-top:6px;
}

.price{
font-weight:700;
}

.mrp{
text-decoration:line-through;
color:#888;
}

.discount{
color:var(--primary);
}


/* DONATION */

.donation-box{
background:var(--white);
padding:var(--space-5);
border-radius:var(--radius-md);
box-shadow:var(--shadow-sm);
}

.donation-options{
margin-top:10px;
display:flex;
gap:10px;
}

.donation{
border:1px solid #ddd;
padding:8px 14px;
border-radius:20px;
background:none;
cursor:pointer;
}

.donation.active{
background:var(--primary);
color:white;
}


/* SUMMARY */

.checkout-summary{
background:var(--white);
padding:var(--space-5);
border-radius:var(--radius-md);
box-shadow:var(--shadow-sm);
position:sticky;
top:90px;
}

.summary-row{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

.summary-row.total{
font-weight:700;
}

.green{
color:var(--primary);
}

.save-banner{
background:#e7f7ec;
color:var(--primary);
padding:10px;
border-radius:6px;
text-align:center;
margin-top:10px;
}

.continue-btn{
width:100%;
margin-top:15px;
padding:12px;
background:var(--secondary);
border:none;
border-radius:6px;
font-weight:600;
cursor:pointer;
}


/* MOBILE */

@media(max-width:768px){

.checkout-container{
grid-template-columns:1fr;
}

.checkout-summary{
position:relative;
top:auto;
}

}